*{
	margin:0px;
	padding:0px;
	font-family: sans-serif;

}
header{
	text-align: right;
	padding-right: 30px;
	color: #fcf7c5;
	margin: 50px;
}
#sidebar{
	position:fixed;
	width:45%;
	height: 100%;
	background: #000;
	left: -45%;
}
#sidebar.active{
	left:0px;
}
#sidebar ul{
	overflow:auto;
}
#sidebar ul li{
	color: #fcf7c5;
	padding: 50px 35px;
	font-size: 1.0625rem;
	list-style:none;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}
a {
	text-decoration: none;
}
ul a:hover{
	color:blue;
	transition: color .5s ease;
	text-decoration: none;
}
.fa {
  padding: 20px;
  font-size: 80px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}



